<% include partials/_header %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de alimentación</title>
    <link rel="stylesheet" href="/stylesheets/catalogo.css">
</head>
<body>
    <div class="container">
        <% let categoriaActual = null; %>
        <% productos.forEach(producto => { %>
            <% if (producto.categoria !== categoriaActual) { %>
                <!-- Mostrar el nombre de la categoría si es diferente a la categoría actual -->
                <h2 style="clear: both;"><%= producto.categoria %></h2>
                <% categoriaActual = producto.categoria; %>
            <% } %>
            <a href="/informacion/<%= producto.codigoBarra %>">
                <div class="producto">
                    <h3><%= producto.nombre %></h3>
                    <div class="img-container">
                        <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                    </div>
                    <p>Precio: <%= producto.precio.toFixed(2) %> €</p>
                </div>
            </a>
        <% }); %>
    </div>
</body>
</html>

<% include partials/_footer %>
