<% include partials/_header %>

<style>
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .row2 {
    margin-bottom: 60px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <h2 class="text-center mb-4"><%= asignatura.nombre %></h2>
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= asignatura.nombre %></td>
            <td><%= asignatura.descripcion %></td>
          </tr>
          <tr>
            <th scope="row">Profesores</th>
            <td colspan="2">
              <% asigUsuarios.forEach(asigUsur => { %>
                <% if (asigUsur.rol === "Profesor") { %>
                  <%= asigUsur.email %> <br>
                <% } %>
              <% }) %>
            </td>
          </tr>
          <tr>
            <th scope="row">Alumnos</th>
            <td colspan="2">
              <% asigUsuarios.forEach(asigUsur => { %>
                <% if (asigUsur.rol === "Alumno") { %>
                  <%= asigUsur.email %> <br>
                <% } %>
              <% }) %>
            </td>
          </tr>
          <tr>
            <th scope="row">URLs</th>
            <td colspan="2">
              <% asignatura.urls.forEach(URL => { %>
                <a href="<%= URL %>" class="truncate"><%= URL %></a> <br>
              <% }); %>
            </td>
          </tr>
          <tr> 
            <th scope="row">Archivos</th>
            <td colspan="2">
              <% asignatura.archivos.forEach(archivo => { %>
                <a href="/archivos/<%= archivo.nombre %>" class="truncate"><%= archivo.nombre %></a> <br>
              <% }); %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row2">
  <div class="col-md-6 mx-auto">
    <div class="card mt-5">
      <div class="card-body">
        <h3 class="card-title text-center">Asignar <%= asignatura.nombre %></h3>
        <form action="/asignar_asignatura" method="POST">
          <label for="grado">Grado</label>
          <textarea class="form-control" id="grado" name="grado" placeholder="Grado de la Asignatura" required><%= asignatura.grado %></textarea>
          <div class="form-group">
            <table class="table">
              <thead>
                <tr>
                  <th>Rol</th>
                  <th>Email</th>
                  <th>Asignar</th>
                </tr>
              </thead>
              <tbody>
                <input type="hidden" name="asignaturaId" value="<%= asignatura._id %>">
                <% usuarios.forEach(user => { %>
                  <% if (user.rol === 'Profesor') { %>
                    <tr>
                      <td><%= user.rol %></td>
                      <td><%= user.email %></td>
                      <td>
                        <% if(asigUsuarios.find(asigUsuario => asigUsuario.email===user.email)) { %> 
                          <label class="selector">
                            <input type="radio" name="asignar_<%= user._id %>" value="Si" checked> Si</input>
                          </label>
                          <label class="selector">
                            <input type="radio" name="asignar_<%= user._id %>" value="No"> No</input>
                          </label>
                        <% } else { %>
                          <label class="selector">
                            <input type="radio" name="asignar_<%= user._id %>" value="Si" > Si</input>
                          </label>
                          <label class="selector">
                            <input type="radio" name="asignar_<%= user._id %>" value="No" checked> No</input>
                          </label>
                        <% } %>
                      </td>
                    </tr>
                  <% } %>
                <% }); %>

                <% usuarios.forEach(user => { %>
                  <% if (user.rol === 'Alumno') { %>
                    <tr>
                      <td><%= user.rol %></td>
                      <td><%= user.email %></td>
                      <td>
                        <% if(asigUsuarios.find(asigUsuario => asigUsuario.email===user.email)) { %> 
                          <label class="selector">
                            <input type="radio" name="asignar_<%= user._id %>" value="Si" checked> Si</input>
                          </label>
                          <label class="selector">
                            <input type="radio" name="asignar_<%= user._id %>" value="No"> No</input>
                          </label>
                        <% } else { %>
                          <label class="selector">
                            <input type="radio" name="asignar_<%= user._id %>" value="Si" > Si</input>
                          </label>
                          <label class="selector">
                            <input type="radio" name="asignar_<%= user._id %>" value="No" checked> No</input>
                          </label>
                        <% } %>
                      </td>
                    </tr>
                  <% } %>
                <% }); %>
              </tbody>
            </table>
          </div>
          <button type="submit" class="btn btn-primary btn-block" >Modificar</button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include partials/_footer %>
