<% asignaturas.forEach((asignatura, index) => { %>
  <tr>
    <th scope="row"><%= index + 1 %></th>
    <td><%= asignatura.nombre %></td>
    <td><%= asignatura.descripcion %></td>
    <td>
      <a href="/asignatura/<%= asignatura._id %>" class="btn btn-primary">Mostrar</a>
      <!-- Agregar un formulario para eliminar -->
      <form action="/eliminar_asignaturas/<%= asignatura._id %>" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-danger">Eliminar</button>
      </form>
    </td>
  </tr>
<% }); %>