<% include partials/_header %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <link rel="stylesheet" href="/stylesheets/informacion.css">
    <script src="/js/informacion.js"></script>
    <script src="/js/subirImagen.js"></script>
</head>
<body>
    <div class="container">
        <div class="producto">
            <div class="imagen-container">
                <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
            </div>

            <form action="/informacionEditada" method="post" enctype="multipart/form-data">

                <div class="mb-3 hidden" id="file-upload-section">
                    <input name="imagen" type="file" id="fileInput" accept="image/*" onchange="uploadAndDisplay(event)">
                    <div id="dropArea" ondragover="handleDragOver(event)" ondrop="handleDrop(event)">
                        Suelta la imagen aquí
                    </div>
                    <div id="imageContainer"></div>
                </div>
                <div class="info-container" id="info-container">
                    <h2 id="producto-nombre"><%= producto.nombre %></h2>
                    <p>- Precio: <span id="producto-precio"><%= producto.precio.toFixed(2) %></span> €</p>
                    <p>- Categoría: <span id="producto-categoria"><%= producto.categoria %></span></p>
                    <p>- Cod: <span id="producto-codigo"><%= producto.codigoBarra %></span></p>
                    <p>- Peso: <span id="producto-peso"><%= producto.peso %></span> g</p>
                    <p>- Ingredientes: <span id="producto-ingredientes"><%= producto.ingredientes %></span></p>
                    <p>- Valor Nutricional: <span id="producto-nutricional"><%= producto.valorNutricional %></span></p>
                    <p>- Stock: <span id="producto-stock"><%= producto.stock %></span> unidades</p>

                    <!-- Campo de entrada oculto para enviar el valor al servidor -->
                    <input type="hidden"name="codigo" value="<%= producto.codigoBarra %>">

                    <% if (user) {%>
                        <div class="button-container">
                            <% if (user.rol==="Administrador") {%>
                                <button type="button" class="btn btn-primary " id="editar-btn" onclick="habilitarEdicion()">Editar</button>
                                <button type="submit" class="btn btn-success hidden" id="guardar-btn">Guardar</button>
                                <button type="button" class="btn btn-warning hidden" id="cancelar-btn" onclick="cancelarEdicion()">Cancelar</button>
                            <% } %>
                            <% if (user.rol==="Empleado") {%>
                                <button type="button" class="btn btn-primary " id="editar-btn" onclick="modificarStock()">Modificar Stock</button>
                                <button type="submit" class="btn btn-success hidden" id="guardar-btn">Guardar</button>
                                <button type="button" class="btn btn-danger hidden" id="cancelar-btn" onclick="cancelarEdicion()">Cancelar</button>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </form>


            <% if (user && user.rol==="Administrador") {%>
                <form action="/eliminarProducto" method="post" >
                    <input type="hidden" name="id" value="<%= producto._id %>">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            <% } %>
        </div>
    </div>

</body>
</html>

<% include partials/_footer %>
