<% include partials/_header %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Grado</th>
            <th>Número de URLs</th>
            <th>Número de Archivos</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% asignaturas.forEach(asignatura => { %>
            <tr>
              <td><%= asignatura.nombre %></td>
              <td><%= asignatura.descripcion %></td>
              <td><%= asignatura.grado %></td>
              <td><%= asignatura.urls.length %></td>
              <td><%= asignatura.archivos.length %></td> 
              <td>
                <div class="btn-group" role="group">
                  <a href="/asignatura/<%= asignatura._id %>/detalles" class="btn btn-info">Detalles</a>
                </div>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% include partials/_footer %>
