<% include partials/_header %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Usuario</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="container">
        <div class="usuario">
            <div class="info-container">
                <h2>Detalles del Usuario</h2>
                <p>Email: <%= user.email %></p>
                <p>Nombre: <%= user.nombre %></p>
                <p>Apellidos: <%= user.apellidos %></p>
                <p>DNI: <%= user.dni %></p>
                <p>Edad: <%= user.edad %></p>
            </div>
            <div class="imagen-container">
                <img src="<%= qr %>">
            </div>
        </div>
    </div>

</body>
</html>



<% include partials/_footer %>


