<% include partials/_header %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de alimentación</title>
    <link rel="stylesheet" href="/stylesheets/catalogo.css">
    <script src="/js/catalogo.js"></script>

</head>
<body>
    <div class="container">
        <%= productos.length %> productos en total
        <% let categoriaActual = null; %>
        <% productos.forEach(producto => { %>
            <% if (producto.categoria !== categoriaActual) { %>
                <!-- Mostrar el nombre de la categoría si es diferente a la categoría actual -->
                <h2 style="clear: both;"><%= producto.categoria %></h2>
                <% categoriaActual = producto.categoria; %>
            <% } %>
            <a href="/informacion/<%= producto.codigoBarra %>">
                <div class="producto" title="<%= producto.nombre %>">
                    <h3><%= producto.nombre %></h3>
                    <div class="img-container">
                        <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
                    </div>
                    <div class="row justify-content-between" style="margin: 0 10px;">
                        <div class="col-auto">
                            <p><%= producto.precio.toFixed(2) %> €</p>
                        </div>
                        <div class="col-auto">
                            <p><%= producto.stock %></p>
                        </div>
                    </div>                                     
                </div>
            </a>
        <% }); %>
    </div>
    <!-- Barra de Paginación -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <% if (currentPage > 1) { %>
                <li class="page-item">
                    <a class="page-link" href="/catalogo/<%= currentPage - 1 %>">Anterior</a>
                </li>
            <% } %>
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link" href="/catalogo/<%= i %>"><%= i %></a>
                </li>
            <% } %>
            <% if (currentPage < totalPages) { %>
                <li class="page-item">
                    <a class="page-link" href="/catalogo/<%= currentPage + 1 %>">Siguiente</a>
                </li>
            <% } %>
        </ul>
    </nav>
</body>
</html>

<% include partials/_footer %>
