<% include partials/_header %>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Usuario</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <script src="/js/profile.js"></script>
</head>
<body>
    <div class="container">
        <form action="editarUser" method="post">
            <!-- Muestra los datos del user -->
            <div class="usuario">
                <div class="info-container">
                    <h2>Detalles del Usuario</h2>
                    <p>- Email: <span id="email"><%= user.email %></span></p>
                    <p>- Nombre: <span id="nombre"><%= user.nombre %></span></p>
                    <p>- Apellidos: <span id="apellidos"><%= user.apellidos %></span></p>
                    <p>- DNI: <span id="dni"><%= user.dni %></span></p>
                    <p>- Edad: <span id="edad"><%= user.edad %></span></p>
                    <% if (user.rol!=="Cliente") {%>
                        <p>- Rol: <span id="edad"><%= user.rol %></span></p>
                    <% } %>
                </div>
                <div class="imagen-container">
                    <img src="<%= qr %>">
                </div>
            </div>
            <!-- Botones para editar el perfil -->
            <div class="button-container">
                <button type="button" class="btn btn-primary " id="editar-btn" onclick="habilitarEdicion()">Editar</button>
                <button type="submit" class="btn btn-success hidden" id="guardar-btn">Guardar</button>
                <button type="button" class="btn btn-warning hidden" id="cancelar-btn" onclick="cancelarEdicion()">Cancelar</button>
            </div>
        </form>

        <!-- Boton de eliminar pero no disponible para el administrador -->
        <% if (user.rol!=="Administrador"){ %>
            <form action="/eliminarUser" method="post" onsubmit="return confirmarEnvio()">
                <input type="hidden" name="userId" value="<%= user._id %>">
                <button type="submit" id="eliminar-btn" class="btn btn-danger">Eliminar Ususario</button>
            </form>
        <% } %>


        <!-- Muestra las compras o ventas realizadas -->
        <div class="reservas">
            <% if (user.rol==="Cliente") {%>
                <h2>Compras</h2>
            <% } else { %>
                <h2>Ventas</h2>
            <% } %>

            <div class="reserva-header">
                <span>Fecha y Hora</span>
                <span style="margin-left: -50px;">Precio Total de Compra</span>
            </div>

            <% ventas.forEach( venta => { %>
                <a href="/ticket/<%= venta._id %>">
                    <div class="reserva-item">
                        <span><%= new Date(venta.fechaHora).toLocaleString() %></span>
                        <span><%= Number(venta.total).toFixed(2) %>€</span>
                    </div>
                </a>
            <% }) %>
        </div>


        <!-- Muestra las reservas realizadas si es un cliente -->
        <% if (user.rol==="Cliente") {%>

            <div class="reservas">
                <h2>Reservas</h2>
                <div class="reserva-header">
                    <span>Hora</span>
                    <span style="margin-left: -50px;">Cantidad</span>
                    <span></span>
                </div>
                <% reservas.forEach(reserva => { %>
                    <% if (reserva.hora>hora) {%>
                    <div class="reserva-item">
                        <span><%= reserva.hora %></span>
                        <span><%= reserva.cantidad %></span>
                        <form action="/eliminarReserva" method="POST">
                            <input type="hidden" name="_id" value="<%= reserva._id %>">
                            <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                        </form>
                    </div>
                <% }}) %>
            </div>
        <% } %>
    </div>
</body>
</html>



<% include partials/_footer %>